body{
	background-color: #222;
}
canvas{
	position: absolute;
	background: transparent;
	left: 250px;
}
#hud{
	position:absolute;
	background-color: #FFF;
	width:200px;
	left:20px;
	font-size:24px ;
	border-radius:7px;
}